[project]
name = "insert-cover-page"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "click>=8.3.1",
    "pillow>=11.0.0",
    "pypdf>=5.0.1",
]
